html,
body,
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

:root {
    --dark: #262739;
    --light: #ffffff;
    --active: 10px;
    --nonactive: 0px;
}

body {
    background-color: var(--dark);
}

.dark {
    background-color: var(--dark);
}

.light {
    background-color: var(--light);
}

.background_switch {
    width: 3rem;
    display: center;
    justify-content: flex;
}

h2 {
    color: lightblue;
    text-align: center;
    width: 5rem;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #edeeef;
    height: 2rem;
    width: 2rem;
    position: absolute;
}

.activeon {
    transform: translate(3rem);
    transition: transform 0.4s ease;
}

.activeoff {
    transition: transform 0.4s ease;
}

.switch {
    background-color: #11c3bf;
    border-radius: 34px;
    display: inline-flex;
    width: 5rem;
    height: 2rem;
    transition: transform 0.5s ease;
    vertical-align: middle;
}

input[type="checkbox"] {
    opacity: 0;
}

input[type="text"] {
    height: 3rem;
    width: 16rem;
    border-radius: 5px;
    text-align: center;
    border-color: white;
    box-shadow: 10px 10px 10px rgba(249, 238, 238, 0.189);
    font-size: 2rem;
}